  body{
    background-image: url(fondo.jpg);
  }
    
    /* General container styles */
   #formularioLogin {
       display: flex;
       justify-content: center;
     }
     
     /* Heading styles */
     #formularioLogin h1 {
       margin-bottom: 1.5rem; /* mb-3 */
       font-weight: 600; /* fw-normal */
       text-align: center;
     }
     
     /* Input styles */
     .form-control {
       border-radius: 0.25rem;
     }
     
     #formularioLogin {
       display: flex;
       justify-content: flex-end; /* Mueve el rectángulo ovalado hacia la derecha */
       align-items: center; /* Centra verticalmente */
       height: 70vh; /* Ocupa toda la altura de la pantalla */
       padding-right: 2rem; /* Ajusta el espaciado a la derecha si es necesario */
     }
     
     /* Estilo del rectángulo ovalado */
     #oval-container {
       background-color: #ffffff; /* Color de fondo del rectángulo ovalado */
       border-radius: 30px; /* Ajusta el valor para obtener el ovalado deseado */
       box-shadow: 0 4px 8px #ffa500(0, 0, 0, 0.1); /* Sombra para darle profundidad */
       padding: 1.5rem; /* Espaciado interno */
       max-width: 350px; /* Tamaño máximo del rectángulo ovalado */
       width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
       text-align: center; /* Centra el texto dentro del formulario */
       border: 3px solid #ffa500;
     }
     
     /* Estilo del formulario */
     #oval-container form {
       margin: 0; /* Elimina el margen del formulario */
     }
     
     /* Estilo de los campos flotantes */
     .form-floating {
       max-width: 100%; /* Ajusta el ancho al 100% del formulario */
       margin-top: 1.5rem; /* mt-5 */
       display: flex;
       justify-content: center;
     }
#logo-jap{
  display: flex;
  width: 400px;
  margin-left: 100px;
}
   